body {
    background-color: white;
}

.drum-keys {
    height: 500px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 70%;
}

.volume-control {
    margin-top: -380px;
    height: 500px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    outline: none;
    height: 20%;
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    background-color: #bbbbbb;
    border-radius: 8px;
    border: 0px;
}

.active {
    outline-color: #bbbbbb;
    color: #bbbbbb;
    background-color: white;
    transition: 0.05s;
  }

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

.togglestyle {
    border-style: solid;
    border: 1px;
    border-color: #bbbbbb;
    background-color: red;
}

body {
    background-image: url(https://bit.ly/35sIzQ9);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }